.info-page {
  .wrapper();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 30%;
    column-gap: 5%;
  }
}

.info-page__aside {
  display: none;
  padding: 35px 0;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.info-page__title-1 {
  padding: 1em 0;
  font-size: 2em;
  line-height: 1.4em;
}

.info-page__title-2 {
  font-size: 1.42em;
  padding: 1em 0;
  line-height: 1.4em;
}

.info-page__title-3 {
  font-size: 1.2857em;
  padding: 1em 0;
  line-height: 1.4em;
}

.info-page__image {
  width: 100%;
  margin-bottom: 20px;
}

.info-page__text {
  font-size: 1em;
  line-height: 1.8em;
  padding: 0.5em 0 1.5em;
}

.info-page__link {
  color: @brand-color;
  font-weight: 700;
  transition: background-color 0.2s;

  &:hover {
    background-color: lightcyan;
  }
}
